<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Experto de Turismo</title>
</head>
<body>
    <!-- Horizontal Line -->
    <div class="horizontal-line"></div>
    <br>
    <div class="container">
        <h1>Sistema Experto de Turismo</h1>
        <form action="/recomendar" method="post">
            <!-- ha_visitado -->
            <label for="ha_visitado">¿Has visitado Guadalajara anteriormente?</label>
            <select name="ha_visitado" required>
                <option value="si">Sí</option>
                <option value="no">No</option>
            </select>
            <!-- ha_visitado -->
            <label for="duracion">¿Has visitado Guadalajara anteriormente?</label>
            <select name="duracion" required>
                <option value="1_a_3_dias">1_a_3_dias</option>
                <option value="4_a_7_dias">4_a_7_dias</option>
                <option value="mas_de_8_dias">mas_de_8_dias</option>
            </select>
            <!-- edad -->
            <label for="edad">¿Para qué edad es el plan que busca?</label>
            <select name="edad" required>
                <option value="de_1_a_12_anios">de_1_a_12_anios</option>
                <option value="de_13_a_17_anios">de_13_a_17_anios</option>
                <option value="de_18_a_40_anios">de_18_a_40_anios</option>
                <option value="mas_de_40_anios">mas_de_40_anios</option>
            </select>
            <!-- grupo -->
            <label for="grupo">¿Para qué clase de grupo es el plan?</label>
            <select name="grupo" required>
                <option value="pareja">pareja</option>
                <option value="familia">familia</option>
                <option value="amigos">amigos</option>
                <option value="negocios">negocios</option>
            </select>
            <!-- presupuesto -->
            <label for="presupuesto">¿De qué presupuesto dispones el plan?</label>
            <select name="presupuesto" required>
                <option value="gratis">gratis</option>
                <option value="menos_de_1000_MXN">menos_de_1000_MXN</option>
                <option value="mas_de_1000_MXN">mas_de_1000_MXN</option>
            </select>
             <!-- tipo_plan -->
            <label for="tipo_plan">¿A qué tipo de plan te gustaría ir?</label>
            <select name="tipo_plan" required>
                <option value="descanso">descanso</option>
                <option value="cultural">cultural</option>
                <option value="extremo">extremo</option>
                <option value="shopping">shopping</option>
                <option value="fiesta">fiesta</option>
            </select>

            <button type="submit">Recomendar</button>
        </form>

        {% if lugar_recomendado %}
            <h2>Lugar Recomendado:</h2>
            <p>{{ lugar_recomendado }}</p>
        {% endif %}
    </div>
</body>
</html>
